.img-thumbnail{
  width: 5rem;
}
.pop-out{
  animation: popout .3s ease-in;
}

@keyframes popout{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1.0);
  }
}