<div class="row">
  <div class="col-lg-12">
    <table class="table" *ngIf="(productsCount | async) !== 0">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Nazwa</th>
          <th scope="col">Rozmiar</th>
          <th scope="col">Usuń</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of (products | async)">
          <th scope="row">
            <img app-product-thumbnail [items]="product.photos" class="img-thumbnail" />
          </th>
          <td>{{ product.name }}</td>
          <td>{{ product.choosenSize }}</td>
          <td>
            <button class="btn btn-danger" (click)="remove(product)">
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <p class="pop-out" *ngIf="(productsCount | async) === 0">
      <ngb-alert type="info" [dismissible]="false">
        Aktualnie twój koszyk jest pusty, dodaj coś do niego!
      </ngb-alert>
    </p>
    <p *ngIf="(productsCount | async) !== 0">
      <button
        type="button"
        class="btn btn-primary"
        (click)="placeOrder()"
        [disabled]="!(isLoggedIn | async)"
      >
        <fa-icon [icon]="faMoneyCheckAlt"></fa-icon> Złóż zamówienie
      </button>
    </p>
    <p>
      <small *ngIf="(productsCount | async) !== 0 && !(isLoggedIn | async)">*aby złozyć zamówienie musisz być zalogowany.</small>
    </p>
  </div>
</div>
