<div class="row justify-content-center">
  <div class="col-md-6">
    <form (ngSubmit)="onSubmit(registerForm.value)" #registerForm="ngForm">
      <div class="form-group">
        <label for="userName" class="col-form-label">Email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          name="email"
          ngModel
          required
        />
      </div>
      <div class="form-group">
        <label for="name" class="col-form-label">Imię</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          ngModel
          required
        />
      </div>
      <div class="form-group">
        <label for="surname" class="col-form-label">Nazwisko</label>
        <input
          type="text"
          class="form-control"
          id="surname"
          name="surname"
          ngModel
          required
        />
      </div>
      <div class="form-group">
        <label for="phone" class="col-form-label">Telefon</label>
        <input
          type="text"
          class="form-control"
          id="phone"
          name="phone"
          ngModel
          required
        />
        <div class="form-group">
          <label for="password" class="col-form-label">Hasło</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            ngModel
            required
            ([ngModel])="(password)"
          />
        </div>
        <div class="form-group">
          <label for="passwordConfirm" class="col-form-label"
            >Powtórz hasło</label
          >
          <input
            type="password"
            class="form-control"
            id="passwordConfirm"
            name="passwordConfirm"
            ngModel
            required
            ([ngModel])="(passwordConfirm)"
          />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Zarejestruj</button>
        </div>
      </div>
    </form>
  </div>
</div>
