<div class="row">
  <div class="col-md-6">
    <img [src]="thumbnail" class="img-fluid" alt="Responsive image">
  </div>
  <div class="col-md-6">
    <h2>{{product.name}}</h2>
    <h3 class="text-secondary">{{product.price}} Zł
      <span class="badge badge-danger">
        <fa-icon [icon]="faFire"></fa-icon>
        Nowość
      </span>
      <span class="badge badge-warning">Ostatnia sztuka</span></h3>
    <p>
      {{product.description}}
    </p>
    <p>
      <button class="btn btn-primary">Dodaj do koszyka</button>
    </p>
  </div>
</div>