<a class="card" [routerLink]="['/product', product.id]">
  <img app-product-thumbnail [items]="product.photos" />
  <div class="badge-container">
    <span *ngIf="product.newOffer" class="badge badge-danger">
      <fa-icon [icon]="faFire"></fa-icon>
        Nowość
    </span>
    <span *ngIf="lastItem" class="badge badge-warning">Ostatnia sztuka</span>
  </div>
  <div class="card-body">
    <h4 class="card-title">{{product.name}}</h4>
  </div>
  <div class="card-footer">
    roz: <span *ngFor="let size of availableSizes" class="badge badge-success">{{size.size}}</span>
  </div>
</a>