.card {
  object-fit: cover;
  height: 24rem;
  margin: 1rem;
  color: #333;
}
.card-body{
  padding: 0 1rem 0 1rem;
}
.card-title{
  width: 12rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.badge-container {
  transform: translate(2%, -130%);
}
.badge {
  margin: 0.2rem;
  display: inline;
}
img {
  height: 16rem;
  width: auto;
}
a {
  color: black;
}
a:hover {
  text-decoration: none;
}


