.nav{
  margin-bottom: 4rem;
}
.nav a{
  color: #777;
  transition: all 0.2s;
}
.nav a:hover{
  color: #333;
  transform: scale(1.1);
}
.active-route{
  color: #333 !important;
}
.nav .ng-fa-icon{
  margin-right: 0.5rem;
}