<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/']" [routerLinkActive]="activeRouteBorderStyle" [routerLinkActiveOptions]="{exact: true}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/contact']" [routerLinkActive]="activeRouteBorderStyle">Kontakt</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/cart']" [routerLinkActive]="activeRouteBorderStyle">Koszyk</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/checkout']" [routerLinkActive]="activeRouteBorderStyle">Zamówienie</a>
  </li>
</ul>