<ul class="nav justify-content-center nav-fill w-100">
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLink]="['/']"
      [routerLinkActive]="activeRouteBorderStyle"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <fa-icon [icon]="faHome"></fa-icon>
      Home
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLink]="['/contact']"
      [routerLinkActive]="activeRouteBorderStyle"
    >
      <fa-icon [icon]="faEvenlope"></fa-icon>
      Kontakt
    </a>
  </li>
  <li [ngClass]="countClass" class="nav-item">
    <a
      class="nav-link"
      [routerLink]="['/cart']"
      [routerLinkActive]="activeRouteBorderStyle"
    >
      <fa-icon [icon]="faShoppingCart"></fa-icon>
      Koszyk ({{ productsInCart }})
    </a>
  </li>
  <li class="nav-item" *ngIf="!isLoggedIn">
    <a
      class="nav-link"
      [routerLink]="['/login']"
      [routerLinkActive]="activeRouteBorderStyle"
    >
      <fa-icon [icon]="faMoneyCheckAlt"></fa-icon>
      Login
    </a>
  </li>
  <li class="nav-item" *ngIf="!isLoggedIn">
    <a
      class="nav-link"
      [routerLink]="['/register']"
      [routerLinkActive]="activeRouteBorderStyle"
    >
      <fa-icon [icon]="faMoneyCheckAlt"></fa-icon>
      Rejestracja
    </a>
  </li>
  <li class="nav-item" *ngIf="isLoggedIn">
    <a
      class="nav-link"
      (click)="onLogout()"
      [routerLinkActive]="activeRouteBorderStyle"
    >
      <fa-icon [icon]="faMoneyCheckAlt"></fa-icon>
      Wyloguj
    </a>
  </li>
  <li class="nav-item" *ngIf="isLoggedIn">
    <a
      class="nav-link"
      [routerLink]="['/admin/list']"
      [routerLinkActive]="activeRouteBorderStyle"
    >
      <fa-icon [icon]="faMoneyCheckAlt"></fa-icon>
      Admin
    </a>
  </li>
</ul>
