/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Pattaya');

html, body{
  font-family: 'Pattaya', sans-serif;
}

.hoover-animation {
  transition: all 0.4s;
}
.hoover-animation:hover {
  transform: translateY(-0.3rem) scale(1.05) rotate(5deg);
  box-shadow: 0 1rem 1rem #999;
}
